<% title("Strona główna") %>


<div class="row">
  <div class="col-md-7">
    <h1><i class="fa fa-home"></i> Strona główna </h1>
  </div>


  <div class="col-md-4">
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Statystyki strony</h3>
      </div>
      <div class="panel-body">
        <h5>Ilość ankiet: <%= @polls %><br>
        Ilość głosów: <%= @votes %><br>
        Użytkowników: <%= @users %><br></h5>
      </div>
    </div>
  </div>

  <div class="col-md-1">

  </div>

</div>