<div class="row">
<div class="col-md-2"></div>

<div class="col-md-10">
<h1>Edycja pytania</h1>

<%= render 'form' %>

<br>
<%= link_to 'Pokaż', @poll %> |
<%= link_to 'Powrót', polls_path %>
</div>

<div class="col-md-2"></div>
</div>
