<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8"><br>
<div class="well">
<h2>Edycja pytania</h2>

<%= render 'form' %>

<br>
<%= link_to 'Pokaż', @poll %> |
<%= link_to 'Powrót', detail_poll_path(@poll) %>
</div>
</div>

<div class="col-md-2"></div>
</div>
