<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8"><br>
<div class="well">
<h2>Edycja ankiety</h2>

<%= render 'form' %>

<br>
<%= link_to 'Pokaż', @survey %> |
<%= link_to 'Powrót', detail_survey_path(@survey) %>
</div>
</div>

<div class="col-md-2"></div>
</div>