<div class="row">
<div class="col-md-2"></div>

<div class="col-md-10">
<h2>Edycja ankiety</h2>

<%= render 'form' %>

<br>
<%= link_to 'Pokaż', @survey %> |
<%= link_to 'Powrót', surveys_path %>
</div>

<div class="col-md-2"></div>
</div>