<% title("Ankiety") %>

<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">

<h2>Ankiety <small><u><%= link_to 'Nowa ankieta', new_survey_path, class:"text-success" %></u></small></h2>

<% if @surveys.empty? %>
  <p>Brak ankiet.</p>
<% else %>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-7">Nazwa</th>
      <th class="col-md-3">Data utworzenia</th>
      <th class="col-md-2">Autor</th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.name, survey %></td>
        <td><%= dateformat(survey.created_at) %></td>
        <td><%= survey.author %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

</div>
</div>