<div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">
<br>
<div class="well">
<h2>Nowa ankieta</h2>

<%= render 'form' %>

<%= link_to 'Powrót', surveys_path %>
</div>
</div>

<div class="col-md-2"></div>
</div>